.text {
  
  /* &-bold { font-weight: bold; }
  &-nolink { color: var(--text-color); }
  &-justify { text-align: justify; }
  &-R { text-align: right !important; }
  &-C { text-align: center !important; } */
  
}