:root {

  /* --------------------------------------------------
    * 1. Initial
  ----------------------------------------------------*/

  /* Typography */
  --font-noto: 'Noto Sans JP', sans-serif;
  --font-family: var(--font-noto);
  --font-size: 16px;

  /* Miscellaneous */
  --speed: .3s;
  --easing: ease;
  --radius: 2px;
  --opacity: .6;

  /* --------------------------------------------------
    * 2. Content
  ----------------------------------------------------*/
  /*contents*/
  --base-width: 960px;

}
